### Terraform ###
# Local .terraform directories
**/.terraform/*
*.terraform*

# .tfstate files
*.tfstate
*.tfstate.*

*.pub
*.pem
*.ppk
*.key

*IaC-*

### SSH ###
**/.ssh/id_*
**/.ssh/*_id_*
**/.ssh/known_hosts
